<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erp.dao.DoctorRevenueDao">
	<resultMap id="doctorResultMap" type="com.erp.domain.DoctorRevenueDo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="organization_name" property="organization_name" jdbcType="VARCHAR" />
		<result column="department" property="department" jdbcType="VARCHAR" />
		<result column="job_number" property="job_number" jdbcType="VARCHAR" />
		<result column="doctor_name" property="doctor_name" jdbcType="VARCHAR" />
		<result column="charge_date" property="charge_date" jdbcType="TIMESTAMP" />
		<result column="treatment_fee" property="treatment_fee" jdbcType="DECIMAL" />
		<result column="radiological_fee" property="radiological_fee" jdbcType="DECIMAL" />
		<result column="operation_fee" property="operation_fee" jdbcType="DECIMAL" />
		<result column="inspection_fee" property="inspection_fee" jdbcType="DECIMAL" />
		<result column="check_fee" property="check_fee" jdbcType="DECIMAL" />
		<result column="medical_materials" property="medical_materials" jdbcType="DECIMAL" />
		<result column="dental_implant_fee" property="dental_implant_fee" jdbcType="DECIMAL" />
		<result column="orthodontic_fee" property="orthodontic_fee" jdbcType="DECIMAL" />
		<result column="planting_fee" property="planting_fee" jdbcType="DECIMAL" />
		<result column="pediatric_treatment_fee" property="pediatric_treatment_fee" jdbcType="DECIMAL" />
		<result column="pediatric_treatment_fee2" property="pediatric_treatment_fee2" jdbcType="DECIMAL" />
		<result column="western_medicine_fee" property="western_medicine_fee" jdbcType="DECIMAL" />
		<result column="chinese_patent_medicine" property="chinese_patent_medicine" jdbcType="DECIMAL" />
		<result column="total_fee" property="total_fee" jdbcType="DECIMAL" />
		 
	</resultMap>

	<insert id="insertdoctor" parameterType="java.util.List">
		insert into doctor_revenue (organization_name,department, job_number,doctor_name,charge_date,treatment_fee,radiological_fee,
		operation_fee,inspection_fee,check_fee,medical_materials,dental_implant_fee,orthodontic_fee,planting_fee,pediatric_treatment_fee,
		pediatric_treatment_fee2,western_medicine_fee,chinese_patent_medicine,total_fee)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.organization_name},#{item.department},#{item.job_number},#{item.doctor_name},#{item.charge_date},#{item.treatment_fee},#{item.radiological_fee},#{item.operation_fee},#{item.inspection_fee},#{item.check_fee},#{item.medical_materials},
			#{item.dental_implant_fee},#{item.orthodontic_fee},#{item.planting_fee},#{item.pediatric_treatment_fee},#{item.pediatric_treatment_fee2},#{item.western_medicine_fee},#{item.chinese_patent_medicine},#{item.total_fee})
		</foreach>

	</insert>

	<!-- 统计 -->
	<select id="sumdoctorList" resultMap="doctorResultMap">
		SELECT 0
		id,'合计'organization_name,''department,''job_number,''doctor_name,
        charge_date,
        sum(treatment_fee)treatment_fee,
        sum(radiological_fee)radiological_fee,
        sum(operation_fee)operation_fee,
        sum(inspection_fee)inspection_fee,
		sum(check_fee)check_fee,
        sum(medical_materials)medical_materials,
        sum(dental_implant_fee)dental_implant_fee,
        sum(orthodontic_fee)orthodontic_fee,
        sum(planting_fee)planting_fee,
		sum(pediatric_treatment_fee)pediatric_treatment_fee,
        sum(western_medicine_fee)western_medicine_fee,
        sum(chinese_patent_medicine)chinese_patent_medicine,
		sum(pediatric_treatment_fee2)pediatric_treatment_fee2,
        sum(total_fee)total_fee
		FROM doctor_revenue where 1=1
		<include refid="ListWhere"></include>
	</select>
	
	<select id="doctorList" resultMap="doctorResultMap">
		SELECT * FROM doctor_revenue where 1=1
		<include refid="ListWhere"></include>
		order by id
	</select>
	
	<select id="doctorListCount" resultType="int">
		SELECT count(1) FROM doctor_revenue where 1=1
		<include refid="ListWhere"></include>
	</select>

	<sql id="ListWhere">
		and charge_date between #{charge_date_begin} and #{charge_date_end}
		<if test="doctor_name!=null and doctor_name!=''">
			and doctor_name=#{doctor_name}
		</if>
		<if test="organization_name!=null and organization_name.size>0">
			and organization_name in
			<foreach item="item" index="index" collection="organization_name" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>
	
	
	<!-- 统计 -->
	<select id="sumdoctorListbydectorname" resultMap="doctorResultMap">
		SELECT 
		id,organization_name,department,job_number,doctor_name,
        charge_date,
        sum(treatment_fee)treatment_fee,
        sum(radiological_fee)radiological_fee,
        sum(operation_fee)operation_fee,
        sum(inspection_fee)inspection_fee,
		sum(check_fee)check_fee,
        sum(medical_materials)medical_materials,
        sum(dental_implant_fee)dental_implant_fee,
        sum(orthodontic_fee)orthodontic_fee,
        sum(planting_fee)planting_fee,
		sum(pediatric_treatment_fee)pediatric_treatment_fee,
        sum(western_medicine_fee)western_medicine_fee,
        sum(chinese_patent_medicine)chinese_patent_medicine,
		sum(pediatric_treatment_fee2)pediatric_treatment_fee2,
        sum(total_fee)total_fee
		FROM doctor_revenue   where 1=1
		<include refid="ListWhere"></include>
		 group by department,doctor_name order by charge_date
	</select>
	
	<select id="count" resultType="int">
		select count(1) from doctor_revenue
		   <where>  
		  	<if test="charge_date != null and charge_date != ''"> and charge_date = #{charge_date} </if>
		  </where>
	</select>
	
	<delete id="deletedoctor">
		delete from doctor_revenue where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

</mapper>